# Git
.git
.gitignore

# Secrets
.env
.env.*

# Python Virtual Environments
.venv/
env/
venv/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# IDEs and Tools
.vscode/
.idea/
.cursor/

# Tests
tests